
.comment-section{
    padding-top: 0.8rem;
    position: relative;

    .comment-as{
        font-size: 0.85rem;

        span{
            color: #0984e3;
            font-weight: 500;
        }
    }

    .comment-text-area{
        margin-top: 0.6rem;
        resize: none;
        padding: 0.4rem;
        border-radius: 3px;
    }

    .send-comment-icon{
        cursor: pointer;
        position: absolute;
        font-size: 1rem;
        bottom: -25px;
        right: 5px;

        &:hover{
            color: #0984e3;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}
