.comment-wrapper{
    margin-bottom: 0.5rem;
    // margin-top: 5px;

    .comment-options{
        display: flex;
        align-items: center;

        .comment-delete{
            cursor: pointer;
            padding-left: 5px;
            font-weight: bold;
            font-size: 14px;

            &:hover{
                color: #e74c3c;
            
            }
        }
    }

    .comment-section{
        display: flex;
        align-items: center;
    

    .comment-from{
        display: flex;
        align-items: flex-start;

        .comment-userimg{

            img {
                height: 41px;
                width: 41px;
                border-radius: 5px;
            }
        }

        .comment-username{
            padding-left: 15px;
            font-size: 0.9rem;
            color: #0984e3;
            font-weight: 500;
            font-size: 13px;
        }

        }

    .comment-body{
        padding-left: 15px;
        font-size: 15px;
    }

    }

    .name-and-date{
        display: flex;
        align-items: center;
        p{
            font-size: 12px;
            padding-left: 5px;
            color: #818181;

        }
    }
   

    .comment-buttons{
        span{
            cursor: pointer;
            padding-left: 3.6rem;
            font-size: 12px;
            color: #576574;
            font-weight: 500;
        }
    }
}