@import '../../global';


.editor-container {
    max-width: 680px;
    margin: 1rem auto;
    line-height: 1.8rem;
    padding: 0 1.2rem;
  
    .title{
      display: none;
    }
  }
  
  .RichEditor-root {
    background: #fff;
    border: 1px solid $light-grey-3;
    font-family: "Poppins", serif;
    font-size: 14px;
    padding: 15px;
  }
  
  .RichEditor-editor {
    border-top: 1px solid $light-grey-3;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
    max-height: 00px;
    overflow: auto;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: "Hoefler Text", "Georgia", serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: "Inconsolata", "Menlo", "Consolas", monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: "poppins", "Helvetica", sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
  
  .RichEditor-activeButton {
    color: $primary-color;
    font-weight: 600;
  }
  
  .btn {
    padding-top: 0.75rem;
  }
  
  .tags {
    padding-top: 1rem;
    span {
      font-size: 1.2rem;
    }
    .select-tags {
      padding-top: 0.6rem;
    }
  }
  
  
  .msg {
    background: #10ac84;
    color: #fff;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
  }
  