.tags-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    
    .tag{
        padding: 0.15rem 0.25rem;
        border-radius: 0.2rem;
        margin-left: 0.2rem;

        .tag-name{
            font-size: 0.72rem;
            color: #fff;
        }
    }
}