@import '../../global';

.outlined, .regular{
    border: 0;
    margin-top: 0.75rem;
    cursor: pointer;
    padding: 0.75rem 1.3rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    outline: none;
}

.outlined{
  
    background-color:$light-grey-1;
    color: $primary-color;
    border: 1px solid $primary-color;
   

    &:hover{
        background-color:$primary-color;
        color: #fff;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.regular{
    background-color:$primary-color;
    color: #fff;
    border: 1px solid $primary-color;

    &:hover{
        background-color:$light-grey-1;
        color: $primary-color;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    } 
}