.list-wrapper{
    background-origin: border-box;
    background-clip: padding-box, border-box;
    z-index: -10;
}

.list-container{
    border-left: 1px solid rgba(221, 221, 221, 0.658);
    border-right: 1px solid rgba(221, 221, 221, 0.658);
    border-bottom: 1px solid rgba(221, 221, 221, 0.658);
    padding: 0.75rem;
    background: #fdfdfd;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: -10;

    .list-data{
        position: relative;
        .html-data  p{
            padding: 0.2rem;
        }
        .html-data{
            margin-top: 0.7rem;

        
        }
        padding-bottom: 0.5rem;
    }

    // .post-title{
    //     font-weight: 700;

    //     &:hover{
    //         color: #2e86de;
    //         transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    //     }
    // }
   
    .upvote-count{
        position: absolute;
        top: 5px;
        right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .count{
            color: #576574;
            font-size: 0.9rem;
            font-weight: 500;
        }

        .name{
            font-size: 0.7rem;
            padding-top: 0rem;
            margin-top: -0.4rem;
            color: #bbb;

        }
    }
    
    .hr{
        height: 0.5px;
        background-color:  rgba(221, 221, 221, 0.658);
    }

    .section{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .upvote-icon,
        .upvoted-icon,
        .delete-icon,
        .bucket-icon,
        .bucketed-icon,
        .share-icon{
            cursor: pointer;
        }

        .upvote-icon,
        .upvoted-icon{
            margin-left: 0.2rem;
            width: 1.1rem;
        }

        .share-icon{
            margin-left: 0.4rem;
        }

        .upvoted-icon{
            color: #0984e3;
        }

        .delete-icon{
            margin-left: 0.5rem;
        }

        .bucket-icon{
            margin-left: 0.5rem;
        }

        .bucketed-icon{
            margin-left: 0.5rem;
            color: #e84393;
        }
    }

    .list-footer{
        padding-top: 0.75rem;
        display: flex;
        align-items: center;

        .list-img{
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        .section-2{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            .list-username{
                font-size: 0.85rem;
                margin-left: 0.5rem;
                font-weight: 500;
                padding-bottom: 0.4rem;
            }
    
            .list-date{
                align-self: flex-end;
                text-align: right;
                color: #576574;
                margin-left: 0.6rem;
                font-size: 0.75rem;
                padding-bottom: 0.45rem;
                align-self: flex-end;
    
            }
        }

       

    }

}
