.list-container{
    border: 1px solid rgba(221, 221, 221, 0.658);
    padding: 0.5rem 1rem;
    background: rgb(253, 253, 253);
    border-radius: 5px;

    .list-data{
        .html-data > p{
            padding-top: 0.5rem;
        }
    }

}
