.profile-box{
    margin-top: 1rem;
    align-items: center;
    border: 1px solid rgba(221, 221, 221, 0.658);
    padding: 1rem;
    background: #fdfdfd;
    position: relative;

    .edit{
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
        color: #0984e3;
        font-weight: bold;
    }

    .hr{
        border-bottom: 1px solid rgba(221, 221, 221, 0.568);
        height: 0.5rem;
    }

    .profile-header{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .profile-image{
            img{
                height: 70px;
                width: 70px;
                border-radius: 0.20rem;
            }
        }
  
    .name-section{

        display: flex;
        flex-direction: column;
        align-items: start;

        .display-name{
                display: flex;
                padding-left: 0.5rem;
                font-weight: 500;
        
                .l-name{
                    margin-left: 0.3rem;
                }
            }
        }
    
        .user-name{
            font-size: 0.75rem;
            padding-left: 0.4rem;
            color: #b9b9b9;
        }
    }
        

    .counts{
        color: #576574;
       .count{
            display: flex;  
            justify-content: flex-start;
            align-items: center;
            padding-top: 0.75rem;

            .count-number{
                padding-left: 0.5rem;
           
            }
        }

    }

    .follow-unfollow{
        text-align: center;
        cursor: pointer;
        font-weight: 500;

        .connect{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0.5rem;

            .icon{
                font-size: 1.2rem;
                padding-left: 0.3rem;
            }

        }

    }

}