@import '../../global';

.header{
    position: sticky;
    top: 0;
    z-index: 50;
    background: $light-grey-1;
}

.notification-result{
    overflow: scroll;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3{
        margin-left: 1rem;
    }

    .options{
        display: flex;
        align-items: center;
        .header-icon{
            padding-left: 1.5rem;
            font-size: 1.3rem;
            cursor: pointer;

            &:last-child{
                margin-right: 1rem;
            }
        }

        .notification{
            position: relative;
        }
        .notification-count{
            position: absolute;
            top: 0;
            left: 31px;
            font-size: 12px;
            background-color: #d63031;
            border-radius: 50%;
            padding: 1px 5px;
            color: white;
        }


        .notification-result{
            position: absolute;
            overflow: scroll;
            height: 270px;
            width: 280px;
            top: 30px;
            right: 20px;
            margin-top: 0.5rem;
            padding: 0.5rem;
            background-color: white;
            border: 1px solid #c9c9c94f;
            border-radius: 2px;
            margin-left: -15px;
            z-index: 30;
        }

      
    }

}

@media screen and (max-width: 500px) {
    
    .header-container{
    
        .options{
            .header-icon{
                font-size: 1.1rem;
            
            }
        }
       
    }

}

.link{
//  padding: 0;
 margin-top: 0.5rem;
 color: black;   
}

@media screen and (max-width: 760px) {
    
    .header-container{

        .options{
            .header-icon{
                font-size: 1.2rem;
            
            }
        }
    }

}