.message-section-wrapper{
    position: relative;
    height: 100%;

    // background-color: #eec0c6;
    // background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
//         background-color: #f9ea8f;
// background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);

// https://media.istockphoto.com/vectors/school-doodle-icon-seamless-pattern-background-vector-id1165559292

    &::before{
        content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.1;        
background-image: url('https://media.istockphoto.com/vectors/school-doodle-icon-seamless-pattern-background-vector-id1165559292');
    width: 100%;
    background-size: contain;
    }

    .chat-header-wrapper{
        padding-left: 1.3rem;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(248, 248, 248);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
        
        .chat-header{
            display:  flex;
            align-items: center;
        
            .chat-user-image{
                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 6px;
                }
            }
        
            .chat-user-name{
                margin-left: 10px;
                font-weight: bold;
            }
        }
    
    }
    
    .message-input{
        padding: 0 1rem;
        padding-bottom: 10px;
        position: absolute;
        bottom: 5px;
        left: 10px;
        width: 90%;
    
      input{
        outline: none;
        padding: 1.2rem 1.2rem;
        border: 0;
        width: 100%;
        border-radius: 1rem;
        background-color: rgb(240, 240, 240);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;      }
    }

    .message-section-body{
        height: 68vh;
        overflow-y: scroll;
        margin-top: 1rem;
    }
}
