@import '../../_global.scss';

.profile-tabs{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    color: #576574;

    .active{
        color: black;
        border-bottom: 4px solid $primary-color;
    }

    .tab{
        cursor: pointer;
        font-size: 1.065rem;
        padding-bottom: 0.3rem;

        &:not(:first-child){
            margin-left: 2rem;
        }
    }

}